<header>
    <nav class="Top">
        <div class="nav-left">
            <h1>EMPLOYEE</h1>
        </div>
        <div class="nav-right">
            <a href="/">Chat with us</a>
        </div>
    </nav>
    <div class="img-container">
        <img src="/images/background_header.PNG" alt="">
    </div>
</header>