<link rel="stylesheet" href="/css/login.css">
<main>
    <h2>Hey! Login and join</h2>
    <form action="/user-profile" method="post">
        <input type="email" name="Email" required placeholder="Email">
        <input type="text" name="Password" required placeholder="Password">
        <button type="submit">Login</button>
        <a href="/sign-up/">Sign up</a>
    </form>
</main>