<h2 style="text-align: center; color: navy;">WELCOME <%=name%>&nbsp;<%=val%></h2>
<a href="/sign-out" style="margin: auto; width: 4rem; height: 3rem; text-decoration: none; background-color: black; color: white;">Log out</button>